{% extends "navigation.html" %}
{% block content %}
    <h1>How to Play</h1>
    <p>Guess the Word in 6 tries.</p>
    <p>Each guess must be a valid 5-letter word</p>
    <p>The color of the tiles will change to show how close your guess to the word was</p>
    <p><b>Examples</b></p>

    <p>Green means that the letter is in the right position</p>
    <img src="{{ url_for('static', filename='images/correct-placement.png') }}" id="game-img" class="img-thumbnail"
    alt="correct_placement">
    <br>

    <p>Yellow means that the letter is in the word but not in the right position</p>
    <img src="{{ url_for('static', filename='images/incorrect-placement.png') }}" id="game-img" class="img-thumbnail"
    alt="incorrect_placement">
    <br>

    <p>Red means that the letter is not in the word at all</p>
    <img src="{{ url_for('static', filename='images/incorrect-everything.png') }}" id="game-img" class="img-thumbnail"
    alt="incorrect_everything">
    <br>
    <br>

    <form action="/game">
        <button id="start-button">Start</button>
    </form>

    {% with messages = get_flashed_messages(category_filter=["start_game"]) %}
        {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h2>Log In</h2>
    <form action="/login" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" required>
        <button type="submit" name="login">Login</button>
    </form>

    <form action="/logout">
        <button type="submit" name="logout">Logout</button>
    </form>

    {% with messages = get_flashed_messages(category_filter=["login"]) %}
        {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h2>Register</h2>
    <form action="/register" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" required>
        <button type="submit" name="register">Register</button>
    </form>

    {% with messages = get_flashed_messages(category_filter=["user_register"]) %}
        {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock %}