{% extends "navigation.html" %}
{% block content %}
    <h1>Leaderboard</h1>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="th-sm">Username</th>
                <th class="th-sm">Player ID</th>
                <th class="th-sm">Score</th>
                <th class="th-sm">Time</th>
                <th class="th-sm">Number of Guesses</th>
            </tr>
        </thead>

        <tbody>
            {% for entry in leaderboard_entries %}
            <tr>
                <td>{{ entry.player_id | username_filter }}</td>
                <td>{{ entry.player_id | player_id_filter }}</td>
                <td>{{ entry.score }}</td>
                <td>{{ entry.time }}</td>
                <td>{{ entry.guesses }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}