{% extends "navigation.html" %}
{% block content %}
    <h1>Leaderboard</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>ID</th>
                <th>Score</th>
                <th>Time</th>
                <th>Number of Guesses</th>
            </tr>
        </thead>

        <tbody>
            {% for entry in leaderboard_entries %}
            <tr>
                <td>Rank #</td>
                <td>Username here</td>
                <td>{{ entry.player_id }}</td>
                <td>{{ entry.score }}</td>
                <td>{{ entry.time }}</td>
                <td>{{ entry.guesses }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}