{% extends "navigation.html" %}
{% block content %}
    <form class="form-signin" action="/user_created" method="POST">
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>

        <input class="form-control" type="text" name="username" id="userName" placeholder="Username" required
        autofocus>
        <input class="form-control" type="password" name="password" id="pwd" placeholder="Password" required>
        <small class="form-text text-muted">Your username and password must only contain alphanumeric
        characters.</small>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" required>I have read and accepted the
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">terms and conditions</a>
            </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" name="register">Register</button>
    </form>

    <div class="messages">
        {% with messages = get_flashed_messages(category_filter=["user_register"]) %}
            {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

{% endblock %}